#scroll {
  scrollbar-width: none;
}

#article {
  background-image: url(../assets/article\ img.svg);
}

/* html {
  scrollbar-color: #518581;
} */

#testimonials {
  scrollbar-width: none;
}

/* #search-bar {
  display: table;
  margin-left: auto;
  margin-right: auto;
} */

/* 
input {
  background-image: url(../assets/search-normal.svg);
  background-position: center;
  background-position: left;
} */
